<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>309CMS</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="__ROOT__/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="__ROOT__/public/css/Admin/adminindex.css">
	<link rel="stylesheet" href="__ROOT__/library/trumbowyg/design/css/trumbowyg.css">
	<script src="__ROOT__/public/js/jquery-2.1.1.min.js"></script>
	<script src="__ROOT__/public/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/public/css/public.css">
</head>