<html>

<include file="public:header" />

<body>
<!--导航-->
<include file="public:nav" />
<!--end-->

<!--content-->
<div class="container" id="content">
    <div class="row">
        <!--left-->
        <div class="col-md-3 col-sm-5">
            <div class="list-group">
                <a href="__APP__/AdmAffairs/index" class="list-group-item" style="font-family: '微软雅黑', '黑体'">公告管理</a>
                <a href="__APP__/AdmAffairs/news" class="list-group-item" style="font-family: '微软雅黑', '黑体'">新闻管理</a>
                <a href="__APP__/AdmAffairs/message" class="list-group-item active" style="font-family: '微软雅黑', '黑体'">留言管理</a>
                <a href="__APP__/AdmAffairs/contact" class="list-group-item" style="font-family: '微软雅黑', '黑体'">联系方式</a>
            </div>
        </div>
        <!--end-->
        <!--右侧-->
        <div class="col-md-9 col-sm-7">
            <ul class="breadcrumb">
                <li>309CMS</li>
                <li style="font-family: '微软雅黑', '黑体'">内容管理</li>
                <li class="active" style="font-family: '微软雅黑', '黑体'">留言管理</li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Link</th>
                        <th>State</th>
                        <th>Operate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="message" item="v">
                    <tr>
                        <td>{$v.dateandtime|mbtime}</td>
                        <td style="font-family: '微软雅黑', '黑体'"><a href="__APP__/AdmAffairs/operate/mid/{$v.id}">{$v.contact}</a></td>
                        <if condition="$v.type == 0">
                            <td><span style="font-family: 'arial', '微软雅黑'">未处理</span></td>
                            <else/>
                            <td><span style="font-family: 'arial', '微软雅黑'">已处理</span></td>
                        </if>
                        <td><a href="__APP__/AdmAffairs/del/mid/{$v.id}" style="font-family: '微软雅黑', '黑体';color: red;margin-left: 20px">删除</a></td>
                    </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--end-->

<!--footer-->
<include file="public:footer" />
<!--end-->

</body>
</html>