<footer id="footer" class="col-md-12">
    <div class="footer">
        <div class="col-md-5">
            <p style="color: #fff">联系我们</p>
            <ul class="list-unstyled">
                <li>地址：{$contact.address}</li>
                <li>邮编：{$contact.code}</li>
                <li>电话：{$contact.phone}</li>
                <li>传真：{$contact.fax}</li>
                <li>邮箱：{$contact.email}</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p style="color: #fff">友情链接</p>
            <ul class="list-unstyled">
                <li><a href="http://www.csu.edu.cn/" target="_blank">中南大学</a></li>
                <li><a href="http://mpb.csu.edu.cn/" target="_blank">中南大学资生院</a></li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p style="color: #fff">官方微信公众号</p>
            <img src="__ROOT__/{$erweima.imgpath}" class="img-responsive">
        </div>
    </div>
</footer>