<html>

<include file="public:header" />

<body>
<!--导航-->
<include file="public:nav" />
<!--end-->

<!--content-->
<div class="container" id="content">
    <div class="row">
        <!--left-->
        <div class="col-md-3 col-sm-5">
            <div class="list-group">
                <a href="__APP__/AdmAca/index" class="list-group-item" style="font-family: '微软雅黑', '黑体'">国际学术交流</a>
                <a href="__APP__/AdmAca/nationAca" class="list-group-item active" style="font-family: '微软雅黑', '黑体'">国内学术交流</a>
            </div>
        </div>
        <!--end-->
        <!--右侧-->
        <div class="col-md-9 col-sm-7">
            <ul class="breadcrumb">
                <li>309CMS</li>
                <li style="font-family: '微软雅黑', '黑体'">学术交流</li>
                <li class="active" style="font-family: '微软雅黑', '黑体'">国内学术交流</li>
            </ul>
            <form action="__APP__/AdmAca/upacanaend/aid/{$nation.id}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label style="font-family: 'arial', '微软雅黑'">标题</label>
                    <input class="form-control" value="{$nation.title}" style="font-family: '微软雅黑', '黑体'" name="title">
                </div>
                <div class="form-group">
                    <label style="font-family: 'arial', '微软雅黑'">摘要</label>
                    <textarea class="form-control" rows="3" style="font-family: '微软雅黑', '黑体'" name="header">{$nation.header}</textarea>
                </div>
                <div class="form-group">
                    <label style="font-family: 'arial', '微软雅黑'">图片</label>
                    <input type="file" id="exampleInputFile" name="imgpath">
                </div>
                <div id="main" role="main">
                    <label style="font-family: 'arial', '微软雅黑'">内容</label>
                    <div id="simple-editor" style="font-family: '微软雅黑', '黑体'">
                        {$nation.content}
                    </div>
                </div>
                <select class="form-control" style="font-family: '微软雅黑', '黑体'" name="type">
                    <if condition="$nation.type == 0">
                        <option selected="selected">国际学术交流</option>
                        <option>国内学术交流</option>
                        <else/>
                        <option>国际学术交流</option>
                        <option selected="selected">国内学术交流</option>
                    </if>
                </select>
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
<!--end-->

<!--footer-->
<include file="public:footer" />
<!--end-->

<include file="public:editer" />

</body>
</html>