<html>

<title>科研奖励</title>
<include file="public:header" />

<body class="body-home">

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <header><img src="__ROOT__/public/images/官网header.jpg" class="img-responsive" style="width: 100%"></header>

            <include file="public:nav" />

            <div class="col-md-3" id="left-list">
                <div class="list-group" style="text-align: center">
                    <a href="__APP__/SciFruits/index" class="list-group-item" >科研项目</a>
                    <a href="__APP__/SciFruits/scirew" class="list-group-item active" >科研奖励</a>
                </div>
            </div>

            <!--右侧-->
            <div class="col-md-9">
                <ul class="breadcrumb" style="background: url('__ROOT__/public/images/小导航.jpg');">
                    <li>F309</li>
                    <li style="font-family: '微软雅黑', '黑体'">科研成果</li>
                    <li>科研奖励</li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" style="background-color: #fff;">
                        <thead>
                        <tr>
                            <th>成果名称</th>
                            <th>奖励级别</th>
                            <th>年度</th>
                            <th>完成人</th>
                        </tr>
                        </thead>
                        <tbody style="font-size: 10px">
                        <foreach name="scirews" item="v">
                        <tr>
                            <td style="font-size: 13px">{$v.name}</td>
                            <td style="font-size: 13px">{$v.level}</td>
                            <td style="font-size: 13px">{$v.year}</td>
                            <td style="font-size: 13px">{$v.endman}</td>
                        </tr>
                        </foreach>
                        </tbody>
                    </table>

                    <nav class="pull-right" style="margin-bottom: 10px">
                        {$page}
                    </nav>
                </div>
            </div>
            <!--end-->

            <include file="public:footer" />

        </div>

        <div class="col-md-1"></div>
    </div>
</div>

<include file="public:top" />

</body>
</html>