<html>

<title>实验室概况</title>

<include file="public:header" />

<body class="body-home">

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <header><img src="__ROOT__/public/images/官网header.jpg" class="img-responsive" style="width: 100%"></header>

            <include file="public:nav" />

            <ul class="nav nav-tabs" id="myTab" style="margin: 10px 0 10px 0;">
                <li class="active"><a href="#hello" data-toggle="tab">实验室介绍</a></li>
                <li><a href="#this" data-toggle="tab">研究条件</a></li>
                <li><a href="#world" data-toggle="tab">联系方式</a></li>
            </ul>

            <div style="padding: 20px;background-color: #fff">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade in active" id="hello">
                        <p>
                            Follow our 本人性格开朗，善于微笑长于交际，会简单日语及芭蕾舞。我相信，这一切将成为我工作最大的财富。我在很久就注意到贵公司，贵公司无疑是___行业中的姣姣者(将你所了解的公司荣誉或成果填上)。同时我又了解到，这又是一支年轻而又富有活力的队伍。本人十分渴望能够在为其中的一员。
                        </p>
                        <p>
                            Follow our 本人性格开朗，善于微笑长于交际，会简单日语及芭蕾舞。我相信，这一切将成为我工作最大的财富。我在很久就注意到贵公司，贵公司无疑是___行业中的姣姣者(将你所了解的公司荣誉或成果填上)。同时我又了解到，这又是一支年轻而又富有活力的队伍。本人十分渴望能够在为其中的一员。
                        </p>
                        <p>
                            Follow our 本人性格开朗，善于微笑长于交际，会简单日语及芭蕾舞。我相信，这一切将成为我工作最大的财富。我在很久就注意到贵公司，贵公司无疑是___行业中的姣姣者(将你所了解的公司荣誉或成果填上)。同时我又了解到，这又是一支年轻而又富有活力的队伍。本人十分渴望能够在为其中的一员。
                        </p>
                        <p>
                            Follow our 本人性格开朗，善于微笑长于交际，会简单日语及芭蕾舞。我相信，这一切将成为我工作最大的财富。我在很久就注意到贵公司，贵公司无疑是___行业中的姣姣者(将你所了解的公司荣誉或成果填上)。同时我又了解到，这又是一支年轻而又富有活力的队伍。本人十分渴望能够在为其中的一员。
                        </p>
                    </div>
                    <div class="tab-pane fade" id="this">
                        <h3>尚无资料</h3>
                    </div>
                    <div class="tab-pane fade" id="world">
                        <p>地址：长沙市岳麓区麓山南路932号中南大学和平楼</p>
                        <p>邮编：410083</p>
                        <p>电话：0731-88879299</p>
                        <p>传真：0731-88879299</p>
                        <p>邮箱：zhiyong.gao@csu.edu.cn</p>
                    </div>
                </div>
            </div>

            <include file="public:footer" />

        </div>

        <div class="col-md-1"></div>
    </div>
</div>

<include file="public:top" />

</body>
</html>