<html>

<include file="public:header" />

<body>
<!--导航-->
<include file="public:nav" />
<!--end-->

<!--content-->
<div class="container" id="content">
    <div class="row">
        <!--left-->
        <div class="col-md-3 col-sm-5">
            <div class="list-group">
                <a href="__APP__/AdmFruits/index" class="list-group-item" style="font-family: '微软雅黑', '黑体'">科研项目</a>
                <a href="__APP__/AdmFruits/sciRew" class="list-group-item active" style="font-family: '微软雅黑', '黑体'">科研奖励</a>
            </div>
        </div>
        <!--end-->
        <!--右侧-->
        <div class="col-md-9 col-sm-7">
            <ul class="breadcrumb">
                <li>309CMS</li>
                <li style="font-family: '微软雅黑', '黑体'">科研成果</li>
                <li class="active" style="font-family: '微软雅黑', '黑体'">科研奖励</li>
            </ul>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Operate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="scirews" item="v">
                    <tr>
                        <td>{$v.dateandtime|mbtime}</td>
                        <td style="font-family: '微软雅黑', '黑体'"><a href="__APP__/AdmFruits/uprews/rid/{$v.id}">{$v.name}</a></td>
                        <td><a href="__APP__/AdmFruits/uprews/rid/{$v.id}" style="font-family: '微软雅黑', '黑体'">修改</a>
                            <a href="__APP__/AdmFruits/delrews/rid/{$v.id}" style="font-family: '微软雅黑', '黑体';color: red;margin-left: 20px">删除</a></td>
                    </tr>
                    </foreach>
                    </tbody>
                </table>

                <nav class="pull-right">
                    {$page}
                </nav>
            </div>
        </div>
    </div>
</div>
<!--end-->

<!--footer-->
<include file="public:footer" />
<!--end-->

</body>
</html>